# 👉 Node.js dependencies
node_modules/

# 👉 Environment variable files
.env

# 👉 React build folder
build/
dist/

# 👉 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 👉 System files
.DS_Store
Thumbs.db
